/* General */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
}

/* links */
a {
    color: #ec7a00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* forms */

input:focus {
    outline: 0;
}

input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
}

    input[type="text"]::placeholder,
    input[type="number"]::placeholder,
    input[type="password"]::placeholder {
        color: #ababab;
    }

input[type="submit"] {
    background-color: #f2f2f2;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    color: #333;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #eaeaea;
}

input[type="submit"]:active {
    top: 1px;
}

/* Messages */
.feedback-message {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px;
}

    .feedback-message > .message {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3;
        margin: 0;
    }

/* Header */
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}

    header .page-title {
        color: #4a4a4a;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }

/* Main */
main {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}

.dashboard {
    display: flex;
    margin: 0 -10px;
}

    .dashboard > .item {
        padding: 0 10px;
    }

        .dashboard > .item > a {
            background-color: #ec7a00;
            color: #fff;
            display: block;
            padding: 20px 30px;
        }

/* CRUD Forms */
.form {
    border: 1px solid #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px 15px;
}

    .form-field {
        flex-basis: 50%;
        margin-bottom: 15px;
        padding: 0 5px;
    }
    
    .form-field.-submit {
        flex-basis: 100%;
    }

        .form-field > .label {
            color: #777;
            display: block;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .form-field > .field {
            width: 100%;
        }

/* Tables */
.table {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table tr:nth-child(even) {
    background-color: #fafafa;
}

.table th,
.table td {
    padding: 10px 20px;
    text-align: center;
}

.table th {
    border-bottom: 1px solid #e5e5e5;
    color: #4a4a4a;
    font-size: 12px;
}

.table td .fa {
    color: #999;
    font-size: 12px;
}